h1,
p,
.contenido {
  text-align: center;
  color: white;
  display: grid;

}
#contenido{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
body {
  background-color: black;
  font-family: "Ubuntu", sans-serif;
}
